<?xml version="1.0"?>
<robot name="go2_description" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find acre_description)/urdf/go2_base.xacro"/>
  <xacro:include filename="$(find acre_description)/urdf/mid360_mount.xacro"/>
  <xacro:include filename="$(find acre_description)/urdf/d435i_mount.xacro"/>

  <xacro:mid360_mount parent_link="imu"/>  <!-- or "base", per your confirmed result -->

  <xacro:d435i_mount parent_link="base">
    <origin xyz="0.280 0 0.05" rpy="0 0 0"/>  <!-- measure your actual mount -->
  </xacro:d435i_mount>
</robot>