<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="mid360_mount" params="parent_link">
    <link name="mid360_mount_point">
      <visual>
        <geometry><mesh filename="package://acre_description/meshes/mid360.stl"/></geometry>
      </visual>
    </link>
    <joint name="mid360_mount_point_joint" type="fixed">
      <origin xyz="0.1870 0.0 0.0803" rpy="0 0.226893 0"/>
      <parent link="${parent_link}"/>
      <child link="mid360_mount_point"/>
    </joint>
  </xacro:macro>
</robot>